<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">

</head>
<body>
    <h1>Template (Server Side Render)</h1>

    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
</head>
<body>
    <h1>Add Product</h1>
    <form method="POST" action="/add-product">
        <label for="productName">Product Name:</label><br>
        <input type="text" id="productName" name="productName" >
        <br>
        <label for="price">Price:</label><br>
        <input type="number" id="price" name="price" >
        <br>
        <br>
        <button type="submit">Add Product</button>
    </form>


    <script src="script.js"></script>
</body>
</html>